<!DOCTYPE html>
<html lang="en">

<head>
    <title>Course</title>
</head>

<body>
    <h1>Course</h1>
    <script type="text/javascript">
        function submitTerm() {
            var x = document.getElementById("course");
            if (x.style.visibility === "hidden") {
                x.style.visibility = "visible";
            } else {
                x.style.display = "none";
            }
        }
    </script>
    
    {% for course in courses %}
        {% for student_course in student_courses %}
            {% if course == student_course[1] %}
                <div style="background:green"> {{ course }} </div>
            {% endif %}
        {% endfor %}
        <div style="background:white"> {{ course }} </div>        
    {% endfor %}
    
    <br>

    <a href="/add/term"><button> Add Term </button></a>
    
    {% for term in terms %}
    <div> {{ term[1] }} {{ term[2] }} </div>
        <a href="/delete/term/{{ term[0] }}">Delete</a> 
        
        <a href="/add/course/{{ term[0] }}"><button> Add Course </button></a>
        
        {% for course in student_courses %}
            {% if term[0] == course[0] %}
                <div>{{ course[1] }} {{ course[2] }} </div>
                <a href="/delete/course/{{ course[0] }}">Delete</a>
            {% endif %}
        {% endfor %}
    
        {% endfor %}


</body>

</html>